h1 {
    font-size: 40px;
}

.content {
    position : absolute;
    /* left 30 centers it for width 40 */
    left : 30%;
    width : 40%;
    text-align: center;
    border: 2px solid #000;
    border-radius: 15px;
    height: 20%;
    background-color: #DCDCDC;
}

.content input {
    position : absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    left : 10%;
    width: 80%;
    height: 50%;
    font-size: 30;
    top : 25%;
}

/*
.content input{
    border-radius: 5px;
    border: #808080;
    color:#808080;
    border-width: thick;
    margin-top:8%;
    height: 25%;
    width:80%;
    font-weight: bold;
    font-size:30;
    text-align:center;
}
*/
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 25%;
    height: 30%;
}
    

