{% load static %}

<html>
<head>
    <title> test title</title>
    <link rel = "stylesheet" type = "text/css" href= "{% static 'budgetroyale/styles/index.css' %}">
</head>
<body>
    <style>
        body {
          background-image: url('{% static "budgetroyale/images/backgroundGame.png"%}');
          background-size: 100% 100%;
          margin : 0;
        padding : 0;
        font-family: Arial;
        }
    </style>

    <img src = "{% static "budgetroyale/images/b_royale.png" %}" class = "center"/>
    

    <div class = "content">
        <form action='createdRoom' method='POST'>{% csrf_token %}
            <input type = "submit" value = "Create a room" id = "createRoomButton">
        </form>
    </div>
    <script>
        document.getElementById('createRoomButton').onclick = () => {
            
            const url2='/api/rooms/';
            const headers = new Headers( {
                'Content-Type': 'application/JSON; charset=utf8'
            })
            const data = {
                "roomCode": "9",
                "contestantsCount": 0,
                "submissions": "123",
                "state": 13
            }

            fetch(url2, {
                method: "POST", 
                headers: headers,
                body: JSON.stringify(data)
                }).then(res => {
                    res.json().then(res2 => {
                        console.log(res2);
                });
            });
            
        }
        
        /* 
        test stuff
        function isInt(n) {
            return n % 1 === 0;
        }
        function getPrecision(n) {
            if (n.toString().includes(".")) {
                return (n.toString()).split(".")[1].length; 
            } 
        }

        console.log(getPrecision(4.0));
        */ 
    </script>
</body>
</html>

