{% load static %}

<html>
<head>
    <title> test title</title>
    <link rel = "stylesheet" type = "text/css" href= "{% static 'budgetroyale/styles/index.css' %}">
</head>
<body>
    <style>
        body {
          background-image: url('{% static "budgetroyale/images/backgroundGame.png"%}');
          background-size: 100% 100%;
        }
    </style>

    <img src = "{% static "budgetroyale/images/b_royale.png" %}" class = "center"/>
    

    <div class = "content">
        <input type = "text" id = "username" name = "username" placeholder = "Enter your name">
        <button type = "button" id = "createRoomButton">Create a room</button>
    </div>
    <script>
        console.log('here');
        /* 
        test stuff
        function isInt(n) {
            return n % 1 === 0;
        }
        function getPrecision(n) {
            if (n.toString().includes(".")) {
                return (n.toString()).split(".")[1].length; 
            } 
        }

        console.log(getPrecision(4.0));
        */ 
    </script>
</body>
</html>

