{% block page_content %}
{% load static %}
<html>
<head>
    <title>submit</title>
    <link rel = "stylesheet" type = "text/css" href= "{% static 'budgetroyale/styles/submit.css' %}">
</head>
<body>
    <style>
        body {
          background-image: url('{% static "budgetroyale/images/backgroundGame.png"%}');
          background-size: 100% 100%;
        }
    </style>

    <img src = "{% static "budgetroyale/images/b_royale.png" %}" class = "b_royale"/>
    <div class = "content">
        <div class = "prompt">
            If you had $400 during the Pandemic, what would you buy? <!-- you can replace with random prompts -->
        </div>

            <div class = "players">

                <div id = "player1">
                    <p>player1</p>
                </div>
            
                <div id = "player2">
                    <p>player2</p>
                </div>

                <div id = "player3">
                    <p>player3</p>
                </div>

                <div id = "player4">
                    <p>player4</p>
                </div>

                <div id = "player5">
                    <p>player5</p>
                </div>
            </div>
        <div class = "forms">
            <form>           
                <input type = "text" id = "field1" placeholder = "Enter Answer...">
                
                <form action='submit' method='POST'>{% csrf_token %}
                <button type= "button" id = "submitButton">Submit</button>
                </form>

            </form>
        </div>
    </div>
    <script>
    var count=0;
    function countbutton(){

      count=count+1;
      console.log(count);

var next;
      if (count==5){
        next=setTimeout(nextpage, 2000);

      }
    }


  function nextpage(){
    window.location.href='/judge';
  }
        // IF possible do most/all of this in the backend?
        // This can just serve as a template for what to do to check for valid
        // values
        /*
        function isInt(n) {
            return n % 1 === 0;
        }

        function getPrecision(n) {
            if (n.toString().includes(".")) {
                return (n.toString()).split(".")[1].length;
            }
            return -1;
        }
        let submitButton  = document.getElementById("submitButton");
        let field1 = document.getElementById("field1");
        let field2 = document.getElementById("field2");
        let field3 = document.getElementById("field3");
        submitButton.onclick = () => {
            let res1 = field1.value;
            let res2 = field2.value;
            let res3 = field3.value;
            let fieldRes = [res1, res2, res3]

            let total = 0;
            for (let i = 0; i < fieldRes.length; i++) {
                let field = fieldRes[i];
                let num = parseFloat(field);
                // valid number
                if (!Number.isNaN(num) && (isInt(num) || (getPrecision(num) <= 2 && getPrecision(num) > 0))){
                    total += num;
                } else {
                    console.log(`Please enter a valid number for field ${i+1}!`); // or something like this
                }
            }
            const totalBudget = 4; // This should be gotten from the prompt info
            const epsilon = 0.001;

            if (total - totalBudget < epsilon) {
                //something succcessful
            } else {
                //Some error message
            }

        }
        */
    </script>
</body>
</html>

{% endblock %}
